h2 {
    text-align: center;
}
.main{
    align-items: center;
    align-content: center;
    margin: 3em;
    border: 1px solid black;
    width:15em;
}
.screenInput, .screenOutput{
    display: flex;
    flex-direction: column;
    margin: 0.5em
}

.buttonsContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em;
}

.buttonsContainer button{
    width: 4em;
    margin: 0.1em;
}